Package: com.bolencki13.libAptObjc
Name: libAptObjc
Version: 0.0.1
Architecture: iphoneos-arm
Description: Advanced package manager for debian (Obj-c)
Maintainer: Brian Olencki
Author: Brian Olencki
Section: System
Tag: role::developer
